@font-size-large: 26px;
@font-size-base: 20px;
@font-size-small: 16px;
@font-size-extra-small: 14px;

@font-size-h1: 48px;
@font-size-h2: 40px;
@font-size-h3: 32px;
@font-size-h4: 28px;
@font-size-h5: 23px;
@font-size-h6: 20px; // The same to font-size-base

@line-height-h1: 60px;
@line-height-h2: 50px;
@line-height-h3: 40px;
@line-height-h4: 32px;
@line-height-h5: 28px;
@line-height-h6: 24px;

@line-height-computed: 32px;
@line-height-large-computed: 42px;

@panel-heading-font-size: 30px;

@default-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25), 0 0 20px rgba(0, 0, 0, 0.1);

@base-color: #2575fc;

@input-border-width: 2px;